.cursor-none      { cursor: none; }
.cursor-pointer   { cursor: url('../res/cursors/left_ptr.png')  7  4, default; }
.cursor-pan       { cursor: url('../res/cursors/openhand.cur')  8  8, default; }
.cursor-cross     { cursor: url('../res/cursors/tcross.png')   11 11, default; }
.cursor-crosshair { cursor: crosshair; }
.cursor-move      { cursor: move; }
